<div class="banner-dashboard">
  <div class="container">
    <h1 class="banner-dashboard-headline">Find <em>your</em> perfect reading space</h1>
  </div>
</div>

<div class="container">
  <div class="search-form">
    <%= form_with url: spaces_path, method: :get do |form| %>
      <%= form.label :query, "Where would you like to read next?", class: "search-label" %>
      <br>
      <%= form.text_field :query, placeholder: "Type something...", class: "search-field" %>
      <%= form.submit "Find spaces", class: "btn-search" %>
    <% end %>
  </div>
  <div>
    <% if @spaces.empty? %>
      <p class="search-no-results">We are sorry, but no reading spaces match "<%= params[:query] %>". Please try again with something else!</p>
    <% end %>
  </div>
  <div class="spaces-grid">
    <% @spaces.each do |space| %>
      <div class="spaces-card">
        <div class="spaces-card-content">
          <div class="space-category-box">
            <% if space.category == "indoor" %>
              <p class="spaces-category"> <i class="fas fa-door-closed"></i> <%= space.category %> </p>
            <% else %>
              <p class="spaces-category"><i class="fas fa-door-open"></i> <%= space.category %> </p>
            <% end %>
          </div>
          <p class="space-address"><i class="fas fa-map-marker-alt"></i> <%= space.address %></p>
          <% if space.photos.attached? %>
            <%= cl_image_tag space.photos[0].key, class:"spaces-photo" %>
          <% end %>
          <%= link_to space.title, space_path(space), class:"spaces-card-title" %>
          <p class="spaces-price"><i class="fas fa-money-bill-alt"></i></i> <%= space.price_per_hour %>€ per hour</p>
          <% unless current_user == space.user %>
            <p class="space-owner"><i class="fa fa-user"></i> Owner: <%= space.user.first_name %> <%= space.user.last_name %> </p>
          <% end %>
          <%= link_to "View Details", space_path(space), class:"spaces-details" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
