<div class="container">
  <div>
    <div class="space-category-box">
      <% if @space.category == "indoor" %>
        <p class="space-category"> <i class="fas fa-door-closed"></i> <%= @space.category %> </p>
      <% else %>
        <p class="space-category"><i class="fas fa-door-open"></i> <%= @space.category %> </p>
      <% end %>
    </div>
    <h1 class="space-title"> <%= @space.title %></h1>
    <div class="duo-grid">
      <div class="photo-container">
        <% @space.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class:"space-photo" %>
        <% end %>
      </div>
      <div>
        <div class="price-box">
          <p class="space-price"><i class="fas fa-money-bill-alt"></i> <%= @space.price_per_hour %> Euro per hour</p>
          <% if @bookmark %>
          <%= link_to("Delete bookmark", space_bookmark_path(@space, @bookmark), method: :delete) %>
          <% else %>
          <%= link_to("Set bookmark", space_bookmarks_path(@space), method: :post) %>
          <% end %>
        </div>
        <% if current_user == @space.user %>
          <h3 class="request-title">Booking requests</h3>
            <% if @space.bookings.length == 1  %>
              <p class="space-description">You have a booking request for this space.</p>
              <p><%= link_to "View Details", dashboard_path, class:"booking-details" %></p>
            <% elsif @space.bookings.length > 1  %>
              <p class="space-description">You have a booking requests for this space.</p>
              <p><%= link_to "View Details", dashboard_path, class:"booking-details" %></p>
            <% else %>
              <p class="space-description">You have no booking requests for this space yet.</p>
            <% end %>
        <% else %>
          <h3 class="request-title">Send a booking request</h3>
          <%= simple_form_for [@space, @booking] do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.label :message, 'Message to host (optional)' %>
            <%= f.input :message, placeholder: 'Hello lovely host...', label: false %>
            <%= f.button :submit, "Send booking request", class: "btn-create-space"%>
            <% end %>
        <% end %>
      </div>
    </div>
    <p class="space-address"><i class="fas fa-map-marker-alt"></i> <%= @space.address %> </p>
    <div class="space-grid">
      <p class="space-description"> <%= @space.description %> </p>
    </div>
    <% unless current_user == @space.user %>
      <p class="space-user"><i class="fa fa-user"></i> Owner of this lovely space is <%= @space.user.first_name %> <%= @space.user.last_name %></p>
    <% end %>
    <div>
      <% if policy(@space).edit? %>
        <%= link_to "update", edit_space_path(@space), class:"space-edit" %>
      <% end %>
      <% if policy(@space).destroy? %>
        <%= link_to "delete", space_path(@space), class:"space-delete", method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div class="site-end"></div>
</div>

</div>
