<div>
  <h1 class="booking-title">Your Booking for "<%= link_to @booking.space.title, space_path(@booking.space), class:"booking-title"%>"</h1>
</div>
<div class="duo-grid">
  <div class="photo-container">
    <% @booking.space.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"space-photo" %>
    <% end %>
  </div>
  <div class="booking-content">
    <h3 class="request-title">Current Status</h3>
    <p class="booking-status-details"> You have made a booking request for this space for <strong><%= @booking.start_date.day %>.<%= @booking.start_date.month %>.<%= @booking.start_date.year %></strong> from <strong><%= @booking.start_date.hour %>h to <%= @booking.end_date.hour %>h</strong>.</p>
    <% if @booking.status == "pending" %>
      <p class="booking-status-details-text">Your booking request is still pending.</p>
    <% elsif @booking.status == "confirmed" %>
      <p class="booking-status-details-text">Your booking is confirmed 🎉</p>
    <% else %>
      <p class="booking-status-details-text">We are sorry, but your booking request has been declined.</p>
    <% end %>
    <% if @booking.status == "pending" || @booking.status == "declined" %>
      <%= link_to "> delete booking request", booking_path(@booking), class: "delete-booking", method: :delete, data: { confirm: "Are you sure you want to delete your booking request?" } %>
    <% end %>
  </div>
  <% if @booking.message %>
    <div>
      <h3>Message History</h3>
      <div>
        <p class="space-description">This is what you sent with your booking request:</p>
        <div class="message-box">
          <p class="message-text"> "<%= @booking.message %>"</p>
        </div>
      </div>
      <% if @booking.reply %>
        <div>
          <p class="space-description">And here is your host's reply:</p>
          <div class="message-box">
            <p class="message-text"> "<%= @booking.reply %>"</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
